body { 
    margin: 0; 
    box-sizing: border-box;
    font-family: barlow, arial;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: white;
    max-width: 1600px;
    filter: brightness(0.8)
}   

.alpha-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

h1 {
    position: fixed;
    font-family: barlow;
    font-weight: 400;
    font-size: 8em;
    letter-spacing: -0.14em;
    color: #333;
    rotate: -90deg;
    transform: skewX(-15deg);
    text-wrap: nowrap;
    left: -235px;
    top: 250px;
    margin: 0;
    filter: blur(4px);
    transition: filter 1s;
}

h1:hover {
    filter: blur(0px);
}

#author {
    position: fixed;
    font-family: barlow;
    font-size: 1.5em;
    /* letter-spacing: -0.1em; */
    color: #333;
    rotate: -90deg;
    transform: skewX(-15deg);
    text-wrap: nowrap;
    left: 6px;
    top: 158px;
    margin: 0;
    filter: opacity(100%) blur(4px);
    transition: filter 1s;
}

#author:hover {
    filter: opacity(100%) blur(0px);
}

h3 {
    margin: 30px 50px 10px;
    font-size: 1.5em;
    font-weight: 100;
}

.under-slider-numbers {
    text-align: center;
    margin-top: -3px;
    font-size: 1.2em;
}

.lap-time-title {
    margin-bottom: 8px;
    min-width: 100px;
}

.slider-text {
    width: 66px;
    display: inline-block;
    text-align: right;
    transform: translateY(-7px);
    font-size: 1.1em;
}

.toggle-text {
    display: inline-block;
    transform: translateY(-5px);
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: 7px;
    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle__input:checked ~ .toggle__fill {
    background: #2fe010;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #bbb;
    transition: background 0.2s;
    margin: 0 2px;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}

.toggle__input:focus-visible ~ .toggle__fill {
    outline: 3px solid #2e71dc;
    outline-offset: 1px;
}

.slider {
    width: 200px;
}

.slider-container {
    position: relative;
}

.slider-top {
    margin: 10px 0;
}

.number-box {
    width: 70px;
    margin-top: 8px;
    font-size: 1.1em;
}

.results-container {
    margin: 10px;
}

.data-table {
    margin-top: 4px;
    border-collapse: collapse;
    width: 100%;
    padding: 4px 15px;
    text-align: center;
    min-width: 400px;
}

.data-table th {
    font-weight: 100;
    font-size: 1.3em;
}

.data-table td {
    border-top: 1px solid #fff;
    font-size: 1.1em;
}

.last-cell {
    position: relative;
}

.delete-button {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    right: 5px;
}

#add-to-results-button {
    font-family: barlow;
    background-color: #de3a0d;
    border: none;
    color: white;
    padding: 7px 30px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    margin: 35px 0 0;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
}

#add-to-results-button:hover {
    background-color: #be330d;
    transform: scale(1.05);
}

#add-to-results-button:active {
    background-color: #a62603;
    transform: scale(0.95);
}

.color-gray {
    color: #444;
    transition: color 0.3s linear;
}

.value-indicator {
    position: absolute;
    bottom: 75px;
    right: calc(50% - 100px);
    width: 150px;
    text-align: center;
    padding: 5px 10px;
    background-color: rgba(46, 113, 220, 0.96);
    color: #fff;
    border-radius: 3px;
    border: 1px solid #63a2d4;
    font-size: 1.8em;
    display: none;
    pointer-events: none;
    filter: opacity(0%);
}

@media screen and (width < 656px) {
    h1 {
        z-index: -10;
    }

    #author {
        filter: opacity(0%);
    }

    .value-indicator {
        filter: opacity(100%);
    }
}
