/* html * {
    -webkit-font-smoothing: antialiased;
} */

body { 
    margin: 0; 
    box-sizing: border-box;
    font-family: barlow, arial;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    accent-color:  #037ffc;
    margin-bottom: 10px;
    min-height: 100vh;
}   

.alpha-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    width: max(1800px);
}

h1 {
    position: absolute;
    font-family: barlow;
    font-weight: 400;
    font-size: 8em;
    letter-spacing: -0.14em;
    color: #222;
    rotate: -90deg;
    transform: skewX(-15deg);
    text-wrap: nowrap;
    left: -235px;
    top: 250px;
    margin: 0;
    filter: blur(4px);
}

h1:hover {
    filter: blur(0px);
}

.author {
    position: absolute;
    font-family: barlow;
    font-size: 1.5em;
    letter-spacing: 0.5em;
    color: #222;
    rotate: -90deg;
    transform: skewX(-15deg);
    text-wrap: nowrap;
    left: -95px;
    top: 250px;
    margin: 0;
    filter: blur(4px);
}

.author:hover {
    filter: blur(0px);
}

.transition {
    transition: filter 1s linear;
}

.no-blur {
    filter: blur(0px);
}

h3 {
    margin: 30px 50px 10px;
    font-size: 1.5em;
    font-weight: 200;
}

#race-length-title {
    margin-top: 15px;
}

.under-slider-numbers {
    text-align: center;
    margin-top: -3px;
    font-size: 1.2em;
}

.lap-time-title {
    margin-bottom: 8px;
    min-width: 100px;
}

.slider-text {
    width: 66px;
    display: inline-block;
    text-align: right;
    transform: translateY(-7px);
    font-size: 1.1em;
}

.toggle-text {
    display: inline-block;
    transform: translateY(-5px);
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: 7px;
    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle__input:checked ~ .toggle__fill {
    background: #2fe010;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #bbb;
    transition: background 0.2s;
    margin: 0 2px;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    border-radius: var(--border-radius);
    transition: transform 0.2s ease-in;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}

.toggle__input:focus-visible ~ .toggle__fill {
    outline: 3px solid #2e71dc;
    outline-offset: 1px;
}

.slider {
    width: 200px;
}

.slider-container {
    position: relative;
}

.slider-top {
    margin: 10px 0;
}

.number-box {
    width: 70px;
    margin-top: 8px;
    font-size: 1.1em;
}

.results-container {
    margin: 10px 10px 50px;
}

.data-table {
    margin-top: 4px;
    border-collapse: collapse;
    width: 100%;
    padding: 4px 15px;
    text-align: center;
    min-width: 400px;
}

.data-table th {
    font-weight: 200;
    font-size: 1.3em;
}

.data-table td {
    border-top: 1px solid #fff;
    font-size: 1.1em;
}

.last-cell {
    position: relative;
}

.delete-button {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    right: 5px;
}

#add-to-results-button {
    font-family: barlow;
    background-color: #de3a0d;
    border: none;
    color: white;
    padding: 7px 30px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    margin: 35px 0 0;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
    transform: scale(0.95)
}

#add-to-results-button:hover {
    background-color: #be330d;
    transform: scale(1.0);
}

#add-to-results-button:active {
    background-color: #a62603;
    transform: scale(0.90);
}

.color-gray {
    color: #444;
    transition: color 0.3s linear;
}

.value-indicator {
    position: absolute;
    bottom: 60px;
    right: calc(50% - 90px);
    width: 180px;
    text-align: center;
    padding: 5px 10px;
    background-color: rgba(3, 127, 252, 0.5);
    color: #fff;
    border-radius: 3px;
    border: 1px solid #85ace6;
    font-size: 2.2em;
    display: none;
    pointer-events: none;
    visibility: hidden;
    backdrop-filter: blur(3px);
}

.kofi-button {
    position: absolute;
    bottom: 10px;
    right: calc(50% - 113px);
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    h1 {
        z-index: -10;
    }

    .author {
        visibility: hidden;
    }

    .value-indicator {
        visibility: visible;
    }
}

/* @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-touch-callout: none) {
        body {
            background-color: #fff;
            color: #000;
        }
    }
  } */
